* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #516CDE;
}

header::before {
    height: 0px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    width: 50%;
    margin: 2em;
}

#contact-card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#contact-list {
    margin-top: 1em;
}

.contact-name-and-surname {
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid black;
    padding: 2%;
    list-style-type: none;
    margin-bottom: 1em;
}
.contact-name-and-surname:hover {
    animation: background-hover 500ms forwards;
    cursor: pointer;
}

@keyframes background-hover {
    0% {
        background-color: #FFFFFF;

    }
    100% {
        background-color: #516CDE;
        color: #FFFFFF;
    }
}

#contact-informations {
    margin-top: 1em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
}

#contact-informations span.infos {
    font-weight: bold;
}

#contact-infos {
    padding-top: 1em;
}

#contact-infos p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30%;
}

button {
    color: #FFFFFF;
    height: 40px;
    width: 200px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.button__red {
    background-color: #DE5151;
} 

.button__blue {
    background-color: #516CDE;
}

.button__green {
    background-color: #327B32;
}

button:hover {
    opacity: 0.8;
}